.useradd {
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
    width: 150px; 

  }
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
    list-style-type: none;
  }
  .username {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    list-style-type: none;
  }
  
  
  .status {
    font-size: 14px;
    margin: 0;
  }

.online {
    color: green;
  }
  
  
  .offline {
    color: red;
  }  